.bannerHeight {
  height: calc(100vh - 80px);
}
.bannerLink{
  display: block;
  height: 100%;
  position: relative;
}
.banner .swiper-pagination-bullet-active{
  background: $Choco;
}
.bannerInfo{
  position: absolute;
  left: 15%;
  right: 15%;
  top:50%;
  transform: translateY(-50%);
  color: rgba($color: $white, $alpha: 1);
  text-shadow: 0 0 10px $dark;
  text-align: center;
  background-color: rgba($color: #020202, $alpha: 0.6);
  padding-top: 25px;
  padding-bottom: 25px;
  p{
    font-size: 14px;
  }
}

