.fixedCart {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 1000;
}
.btnCart {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 5px $secondary;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background-color: $white;
  transition: all 0.3s;
  cursor: pointer;
  .fa-shopping-cart {
    color: $Choco;
  }
  &:hover {
    background-color: $Choco;
    text-decoration: none;
    .fa-shopping-cart {
      color: $white;
    }
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
  }
}
