.fixedCart {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 1;
}
.btnCart {
  color: $Choco;
  width: 60px;
  height: 60px;
  box-shadow: 1px 1px 5px $secondary;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background-color: $white;
  transition: all 0.3s;
  &:hover {
    color: $yellowChoco;
    background-color: $Choco;
    text-decoration: none;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
  }
}
