.logo {
  width: 125px;
  height: 47.5px;
  background-image: url(./../images/chocolate_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 130%;
}
.nav-border {
  border-bottom: 2px solid $Choco;
}
.dropdown-toggle::after {
  display: none;
}
.headerBtn {
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  color: $Choco;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    box-sizing: inherit;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    border-bottom: 2px solid transparent;
    transform: scale3d(0, 1, 1);
    transition: transform 0.5s;
  }
  &:hover {
    text-decoration: none;
    color: $ChocoNd;
    &::before {
      border-bottom: 2px solid $ChocoNd;
      transform: scale3d(1, 1, 1);
    }
  }
}
.headerBtn.active {
  color: $ChocoNd;
}

.scrolltop {
  position: fixed;
  bottom: 10px;
  right: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px $secondary;
  background-color: $white;
  color: $dark;
  &:hover {
    text-decoration: none;
  }
}
