.checkStep{
  padding: 10px;
  background-color: $lightChoco;
  border-radius: 30px;
  color: $secondary;
}
.checkStep.active{
  background-color: $ChocoRd;
  color: $Choco;
}

.cart-image {
  height: 110px;
  min-width: 110px;
}
.input-group > .input-group-append > .btn.btnOutlineYellowChoco {
  width: 45px;
  height: 45px;
  border: 1px solid $Choco;
  color: $Choco;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 30px;
    height: 30px;
    line-height: 15px;
  }
  &:hover{
    background-color: $Choco;
    color: $ChocoRd;
  }
}

.cart-control > .input-group > .form-control {
  width: 45px;
  height: 45px;
  color: $Choco;
  text-align: center;
  flex: 0 1 auto;
  border-top-color: $Choco;
  border-bottom-color: $Choco;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 30px;
    height: 30px;
  }
}

.price {
  @media (max-width: 768px) {
    border-bottom: 1px solid $Choco;
    border-top: 1px solid $Choco;
  }
}

.btn.btnDelet {
  color: $danger;
  border: 1px solid $ChocoRd;
  &:hover {
    background-color: $danger;
    color: $ChocoRd;
  }
  &:active {
    border: 1px solid $danger;
    color: $danger;
    background-color: $ChocoRd;
  }
}
.cart-bill {
  background-color: $Choco;
  color: $ChocoRd;
}

.btn.checkCoupon {
  border: 1px solid $Choco;
  background-color: $Choco;
  transition: all 0.3s;
  color: $ChocoRd;
  &:hover{
    background-color: $ChocoRd;
    color: $Choco;
  }
  &:active{
    background-color: $Choco;
    color: $ChocoRd;
  }
}

.btn.btn-pay{
  border: 1px solid $danger;
  color: $ChocoRd;
  background-color: $danger;
  transition: all 0.3s;
  &:hover{
    border: 1px solid $ChocoNd;
    color: $ChocoNd;
  }
  &:active{
    background-color: $ChocoNd;
    color: $Choco;
  }
}