.product {
  line-height: 2rem;
  color: $Choco;
}

.proInfo {
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productInput {
  width: 70px;
  height: 46px;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid $secondary;
  border-top: none;
  border-left: none;
  border-right: none;
}

.btnPro {
  padding: 10px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid $danger;
  color: $danger;
  background-color: $Choco;
  transition: all 0.3s;
  &:hover {
    border: 1px solid $Choco;
    color: $Choco;
    background-color: $Choco;
  }
}

.proInputText {
  line-height: 46px;
  font-size: 12px;
}
.inputDiv {
  letter-spacing: 0;
}

.similarPro {
  padding: 10px;
  background-color: $lightChoco;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toProducts {
  border: 1px solid transparent;
  padding: 10px 20px;
  background-color: $lightChoco;
  border-radius: 5px;
  color: $Choco;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: $Choco;
    border: 1px solid $Choco;
  }
  @media (max-width: 767.98px) {
    display: block;
    text-align: center;
  }
}
.buyKnow {
  display: none;
  overflow: hidden;
  transition: all 0.3s;
  height: 0;
}
.open .buyKnow {
  display: block;
  height: auto;
}

.arrow {
  transform: 0;
  transition: all 0.3s;
}
.open .arrow {
  transform: rotateX(180deg);
}

.judgeRow {
  display: flex;
  @media (max-width: 767.98px) {
    display: none;
  }
}

.judgeSwiper{
  display: none;
  @media (max-width: 767.98px) {
    display: block;
  }
}

.closeRow{
  display: none;
}